In [5]:
import pandas as pd
import numpy as np

import xgboost as xgb

In [2]:
training_data = pd.read_csv('training_data.csv')
test_data = pd.read_csv('test_data.csv')

In [3]:
training_data.head(5)

,Driver,AUS,CHN,BHR,RUS,ESP,MON,CAN,AZE,AUT,...,SIN,MAL,JPN,USA,MEX,BRA,ABU,Year,FRA,GER
0,Lewis Hamilton,21,28,21,12,28,6,28,10,12,...,28,21.0,28,28,2,12,18,2017,NaN,NaN
1,Sebastian Vettel,28,21,28,21,21,28,15,15,21,...,0,15.0,0,21,12,28,18,2017,NaN,NaN
2,Valtteri Bottas,15,8,15,28,0,15,18,21,28,...,15,10.0,12,10,21,21,28,2017,NaN,NaN
3,Kimi Räikkönen,12,10,12,15,0,18,6,0,10,...,0,0.0,13,15,18,15,12,2017,NaN,NaN
4,Daniel Ricciardo,0,12,13,0,18,18,18,28,18,...,21,15.0,15,0,0,8,0,2017,NaN,NaN

In [4]:
test_data.head(5)

,Driver,AUT,STY,HUN,GBR,70A,ESP,BEL,ITA,TUS,RUS,EIF,POR,EMI,TUR,BHR,SKH,ABU,Year
0,Lewis Hamilton,12,38,43,38,26,38,38,21,43,25,28,43,33,28,38,0,15,2020
1,Valtteri Bottas,38,18,15,0,25,20,18,13,18,33,0,18,28,0,4,17,21,2020
2,Max Verstappen,0,18,21,26,28,21,18,0,0,21,26,18,0,11,26,0,38,2020
3,Sergio Pérez,11,11,6,0,0,10,1,1,13,15,15,9,11,21,3,28,0,2020
4,Daniel Ricciardo,0,7,7,15,0,3,20,11,15,13,18,2,18,4,9,10,14,2020

In [ ]:
# pivot datasets
test_data =

In [7]:
model = xgb.XGBRegressor()